html,
body {
  margin: 0;
  overscroll-behavior-y: none;
  background-color: #afd0c9;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background {}

.components-foreground {
  z-index: 10;
  position: relative;
}